{% extends 'pages/base.jinja' %}

{% block title %}
    Flask industries
{% endblock %}

{% block content %}

    <section> 
        <h2>Testing flask and jinja</h2>
        <p>ljkjsafhnlkjdssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssnfldnsldnkslnldsnvldnvlds</p>

    </section>
    
{% endblock %}
